<div class="contact">
    <h1>Contact</h1>
    <p>I'm available by <a id="email-link" href="#">email</a> or or through the message form below.</p>
    <div class="form-container">
        <form name="contact" netlify>
            <label for="name">Name</label>
            <input type="text" id="name" name="name" placeholder="Enter your name" required>
            
            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="Enter your email" required>
            
            <label for="message">Message</label>
            <textarea id="message" name="message" placeholder="Your message" required></textarea>
            
            <button type="submit">Send</button>
        </form>
    </div>
</div>

<script>
    document.getElementById('email-link').addEventListener('click', function(e) {
        e.preventDefault();
        window.location.href = 'mailto:' + 'minah.ram2000' + '@' + 'gmail.com';
    });
</script>